<br/><br/>

<div th:fragment="table" class="table-responsive" id="books">
    <table class="table table-hover table-bordered">
        <thead>
        <!--Should be as many tables as media subtypes with Headers with <subtype>.name-->
        <tr >
            <th scope="col" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Fsk</th>
            <th scope="col">Date Published</th>
            <th scope="col">Genres</th>
            <th scope="col">Duration</th>
            <th scope="col">Codec</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="media : ${searchedAudiosCollection}">

            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}"> <a th:href="@{/admin/editMedia(id=${media.getId()})}" th:utext="${media.getId()}"></a> </td>
            <td th:utext="${media.getName()}"> ... </td>
            <td th:utext="${media.getFsk()}">...</td>
            <td th:utext="${#dates.format(media.getDatePublished(), 'dd-MMM-yyyy')}">...</td>
            <td th:utext="${media.getGenres()==null ? '' : media.getGenres().toString().replace('[', '').replace(']', '')}">...</td>
            <td th:utext="${media.getDuration()}">...</td>
            <td th:utext="${media.getCodec()}">...</td>
            <td>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/editMedia(id=${media.getId()})}">
                    <button style="width: 100%" type="button" class="fa fa-edit"> Edit </button>
                </a>

                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/deleteMedia(id=${media.getId()})}" th:method="delete">
                    <button style="width: 100%" type="button" class="fa fa-remove"> Remove </button>
                </a>

                <a th:href="@{/reserve/(id=${media.getId()})}">
                    <button style="width: 100%" th:disabled="${(media.getCopies() == null || media.getCopies().isEmpty() || media.getCopies().contains(true))}" type="button" class="fa fa-calendar"> Reserve </button>
                </a>
                <a th:href="@{/loan/{id}(id=${media.getId()})}">
                    <button style="width: 100%" th:disabled="${(media.getCopies() == null || media.getCopies().isEmpty() || !media.getCopies().contains(true))}" type="button" class="fa fa-book"> Loan</button>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    <!--TODO for the other types of media-->
</div>
