<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="ISO-8859-1">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <title>Add media</title>
</head>

<body>

<main layout:fragment="content" th:remove="tag">

    <h2>Edit Media</h2>
    <hr/>
    <div th:if="${mediaDTO==null}">
        <ul style="list-style: none">
            <li style="list-style: none" th:each="className: ${mediaClassesNames}">
               <!-- <form style="padding-bottom: 20px" th:action="@{/admin/editMedia(className=${className})}" method="get">
                    <button style="width: 100%" type="submit" class="btn btn-secondary btn-outline-light" th:utext="'Add ' + ${className}"></button>
                </form>
                -->
                <a style="padding-bottom: 20px" th:href="@{/admin/editMedia(className=${className})}" >
                    <button style="width: 100%" type="submit" class="btn btn-secondary btn-outline-light" th:utext="'Add ' + ${className}"></button>
                </a>
            </li>
        </ul>
    </div>

    <div th:if="${editedStatus != null}" class="alert alert-success" role="alert">
        <span th:text="${editedStatus}"></span>
    </div>
    <div th:if="${bookDTO!=null}">
        <div th:replace="__${'fragments/add' + bookDTO.getClassName()}__ :: form"></div>
    </div>

    <div th:if="${paperDTO!=null}">
        <div th:replace="__${'fragments/add' + paperDTO.getClassName()}__ :: form"></div>
    </div>

    <div th:if="${audioDTO!=null}">
        <div th:replace="__${'fragments/add' + audioDTO.getClassName()}__ :: form"></div>
    </div>

    <div th:if="${movieDTO!=null}">
        <div th:replace="__${'fragments/add' + movieDTO.getClassName()}__ :: form"></div>
    </div>

</main>

</body>
</html>
