<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="ISO-8859-1">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <title>Library online</title>
</head>

<body>
<main layout:fragment="content" th:remove="tag">
    <br/><br/>

    <h2>Library System online</h2>
    <hr/>
    <br/>
    <a sec:authorize="hasRole('ADMIN')" href="/admin/addMedia" class="btn btn-primary">AddMedia</a>
    <br/>

    <!--TODO buttons to loan only available when logged in -->

    <h3>What kind of media are you looking for?</h3>
    <br/>

    <form th:action="@{/search}" th:object="${mediaDTO}" th:method="post" style="display: inline-block">
        <input class="form-check-inline" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
               type="number" min=0 name="searchMediaId" th:field="*{id}" placeholder="ID" size="10" style="display: inline-block">
        <!--TODO th:label and genres in autoload
-->
        <input type="text" class="form-check-inline" name="searchMediaName" th:field="*{name}" placeholder="Name" size="30" style="display: inline-block">
            <select class="form-select" name="searchMediaGenreId" th:field="*{genres}" multiple>
                <option th:each="genre : ${allGenres}"
                        th:value="${genre}"
                        th:text="${genre.name}">
                    Genre
                </option>
                <!--Maybe {{genre}} -->

            </select>

        <select class="form-select" name="searchMediaGenreId" th:field="*{fsk}">
            <option th:each="fsk_ : ${fskValues}"
                    th:text="${fsk_}"
                    th:value="${fsk_}">
            </option>
            <!-- TODO th:selected = "${mediaDTO?.getFsk()==fsk_}"-->
        </select>

        <!--
        <input type="number" min=0 name="searchMediaFsk" th:value="*{fsk}" placeholder="Fsk" size="30" style="display: inline-block">
        -->
        <button type="submit" class="btn btn-info" >Search</button>
        <button type="reset" class="btn btn-info" >Reset</button>
    </form>

    <br/><br/>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <!--Should be as many tables as media subtypes with Headers with <subtype>.name-->
            <tr >
                <th scope="col" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Fsk</th>
                <th scope="col">Date Published</th>
                <th scope="col">Genres</th>
                <th scope="col">Action</th>
                <!-- add later - bool (anyCopyAvailable) TODO
                <th scope="col">Available</th>
                -->
            </tr>
            </thead>
            <tbody>
            <tr th:each ="media : ${searchedMediasList}">

                <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}"> <a th:href="@{/admin/addMedia(id=${media.getId()})}" th:utext="${media.getId()}"></a> </td>
                <td> <a th:href="@{/loan(id=${media.getId()})}" th:utext="${media.getName()}"></a> </td>
                <td th:utext="${media.getDescription()}">...</td>
                <td th:utext="${media.getFsk()}">...</td>
                <td th:utext="${media.getDatePublished()}">...</td>
                <td th:utext="${media.getGenres()}">...</td>
                <td>
                    <a th:href="@{/update/{id}(id=${media.getId()})}" ><i class="fa fa-edit" ></i></a>
                    <a th:href="@{/delete/{id}(id=${media.getId()})}" ><i class="fa fa-remove"></i></a>
                </td>
                <!--
                .isEmpty() ? "" : media.genres.stream().map(media.genres.get(0).getClass()::getName)
                <td th:utext="${media.genres.stream().map(Genre::getName).collect(Collectors.toList())}">...</td>
            -->
            </tr>
            </tbody>
        </table>
    </div>


</main>

</body>
</html>
