<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Library online</title>
</head>

<body>
<main layout:fragment="content" th:remove="tag">
    <hr/>
    <br/><br/>

    <h2>Library System online</h2>
    <hr/>
    <br/><br/>

    <form sec::authorize="'hasRole('ADMIN') "></form>

    <a sec:authorize="hasRole('ADMIN')" href="/admin/addMedia" class="btn btn-primary">Management</a>

</main>

</body>
</html>
