<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Medias</title>
</head>

<body>

<main layout:fragment="content" th:remove="tag">

    <h1 class="card-title" th:text="${mediaDTO?.getName()}"></h1>
    <br/>

    <h3>Deiscription: </h3>
    <span th:text="${mediaDTO?.getDescription()}"></span>
    <br/>
    <hr/>

    <div sec:authorize="hasRole('ADMIN')">
        <form class="form" th:action="@{/admin/editCopy}">
            <button type="submit" class="active btn btn-primary" th:name="mediaId" th:value="${mediaDTO.getId()}">Add Copy</button>
        </form>
        <!--a  th:href="@{/admin/editCopy(mediaId=${mediaDTO?.getId()})}" class="active btn btn-primary">Add Copy</a-->
        <br/>
    </div>

    <!--div th:unless="${mediaDTO.getCopies()==null || mediaDTO.getCopies().isEmpty()}" class="table-responsive"-->
    <div class="table-responsive">
        <form id="createCopy" th:object="${copy}" th:action="@{/admin/editCopy/}" method="post">
        <div th:if="${editable}">
            <button type="submit" class="btn btn-info" form="createCopy" >Submit</button>
            <button type="reset" class="btn btn-info" form="createCopy" >Reset</button>
        </div>
            <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th> Copy number </th>
            <th> Location </th>
            <th> Shelf number</th>
            <th> Compartment position </th>
            <th> Available </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${editable}">
            <td th:text="${copy.copyId.copyNr}">
                <input th:text="${copy.copyId.copyNr}" th:value="${copy.copyId}" th:field="*{copyId}"/>
                <!--TODO see if works-->
            </td>
            <td colspan="3">
                <select id="locationId" th:field="*{compartment}">
                    <option th:each="compartment_ : ${allCompartments}"
                            th:if="${compartment_.getNumberOfFreePlaces()>0}"
                            th:value="${compartment_.compartmentId}"
                            th:text="${compartment_.describe()}">
                            <!--
                            th:selected="${compartment_ == copy.compartment}"
                            -->
                    </option>
                </select>
            </td>
            <td>
                <select id="available" th:field="*{isAvailable}">
                    <option style="background-color: green" th:value="${true}" > Available </option>
                    <option style="background-color: red" th:value="${false}" > Not Available </option>
                </select>
            </td>
        </tr>
        <tr th:each="copy : ${mediaDTO.getCopies()}">
            <td> <span th:text="${copy.copyId.copyNr}"> </span> </td>
            <td> <span th:text="${copy.compartment.compartmentId.shelf.id.location.name}"> </span> </td>
            <td> <span th:text="${copy.compartment.compartmentId.shelf.id.shelfNumber}"> </span> </td>
            <td> <span th:text="${copy.compartment.compartmentId.position}"> </span> </td>
            <td> <span th:text="${copy.isAvailable}" th:classappend="${copy.isAvailable ? 'bg-success' : 'bg-warning'}"> </span> </td>
            <td>
                <!--form sec:authorize="hasRole('ADMIN')" action="@{/admin/setAvailability/{copyId}(copyId=${copy.copyId}, availability=${!copy.isAvailable})}" method="put">
                    <button type="button" style="width: 100%" name="isAvailable" class="fa fa-check">Change availablity</button>
                </form-->

                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/deleteCopy(id=${copy.copyId})}" th:method="delete">
                    <button style="width: 100%" type="button" class="fa fa-remove"> Remove </button>
                </a>

                <a th:href="@{/loan/{id}(id=${copy.copyId})}">
                    <button style="width: 100%" th:disabled="${(mediaDTO.getCopies() == null || mediaDTO.getCopies().isEmpty() || !mediaDTO.getCopies().contains(true))}" type="button" class="fa fa-book"> Loan</button>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    </form>
    </div>

    <!--div th:if="${mediaDTO.getCopies()==null || mediaDTO.getCopies().isEmpty()}">
        <span> No Copies found </span>
    </div-->
    <div class="alert alert-success" role="alert" th:if="${message!=null && !mediaDTO.getCopies().isEmpty()}">
        <span th:text="${message}"></span>
    </div>
    </main>
</body>

</html></html>
