<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Medias</title>
</head>

<body>

<main layout:fragment="content" th:remove="tag">

    <h1 th:text="${mediaDTO.getName()}"></h1>
    <br/>

    <h2>Deiscription: </h2>
    <span th:text="${mediaDTO.getDescription()}"></span>
    <br/>

    <div th:if="${mediaDTO.getCopies()==null || mediaDTO.getCopies().isEmpty()}">
        <span> No Copies </span>
    </div>

    <ul class="horizontal" style="list-style: none" th:each ="copy : ${mediaDTO.getCopies()}">
        <li></li>
    </ul>


    </main>
</body>

</html></html>
